<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="BliffoscopeAnalysisSections" type="Bliffoscope.Analysis.Configure.BliffoscopeAnalysis.BliffoscopeAnalysisConfigurationSection, Bliffoscope.Analysis.Configure"/>
		<section name="EnvironmentSections" type="Bliffoscope.Analysis.Configure.Environment.EnvironmentConfigurationSection, Bliffoscope.Analysis.Configure"/>
	</configSections>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

	<BliffoscopeAnalysisSections>
		<BliffoscopeAnalysisConfigurationsSection>
			<add Key="BliffoscopeAnalysis" 
				 StarshipMatchPercentage="35" 
				 SlimetorpedoMatchPercentage="35"/>
		</BliffoscopeAnalysisConfigurationsSection>
	</BliffoscopeAnalysisSections>
	
	<EnvironmentSections>
		<EnvironmentConfigurationsSection>
			<add Key="Environment" 
				 SlimeTorpedoFilePath="C:\BliffoscopeAnalysis\Resources\SampleSearch" 
				 SlimeTorpedoFileName="SlimeTorpedo.blf" 
				 StarshipFilePath="C:\BliffoscopeAnalysis\Resources\SampleSearch" 
				 StarshipFileName="Starship.blf" 
				 TestDataFilePath="C:\BliffoscopeAnalysis\Resources\SampleSearch" 
				 TestDataFileName="TestData.blf" 
				 SlimetorpedoTargetsFilePath="C:\BliffoscopeAnalysis\Resources\TargetsFound" 
				 SlimetorpedoTargetsFileName="SlimeTorpedoTargets.txt" 
				 StarshipTargetsFilePath="C:\BliffoscopeAnalysis\Resources\TargetsFound" 
				 StarshipTargetsFileName="StarshipTargets.txt"/>
		</EnvironmentConfigurationsSection>
	</EnvironmentSections>
</configuration>
